In [1]:
#import libraries
from twython import Twython
import pandas as pd
import json

## Reading from Kaggle Dataset

In [2]:
airlines = pd.read_csv("./data/Tweets.csv")

In [3]:
airlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
tweet_id                        14640 non-null int64
airline_sentiment               14640 non-null object
airline_sentiment_confidence    14640 non-null float64
negativereason                  9178 non-null object
negativereason_confidence       10522 non-null float64
airline                         14640 non-null object
airline_sentiment_gold          40 non-null object
name                            14640 non-null object
negativereason_gold             32 non-null object
retweet_count                   14640 non-null int64
text                            14640 non-null object
tweet_coord                     1019 non-null object
tweet_created                   14640 non-null object
tweet_location                  9907 non-null object
user_timezone                   9820 non-null object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

In [4]:
airlines.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

<a id="United-Airlines-tweets"></a>
## Use only United Airlines tweets

In [5]:
# only United Airlines related tweets
airlines = airlines[airlines['airline'] == 'United']
airlines.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3822 entries, 504 to 4325
Data columns (total 15 columns):
tweet_id                        3822 non-null int64
airline_sentiment               3822 non-null object
airline_sentiment_confidence    3822 non-null float64
negativereason                  2633 non-null object
negativereason_confidence       3000 non-null float64
airline                         3822 non-null object
airline_sentiment_gold          8 non-null object
name                            3822 non-null object
negativereason_gold             7 non-null object
retweet_count                   3822 non-null int64
text                            3822 non-null object
tweet_coord                     319 non-null object
tweet_created                   3822 non-null object
tweet_location                  2633 non-null object
user_timezone                   2527 non-null object
dtypes: float64(2), int64(2), object(11)
memory usage: 477.8+ KB

In [6]:
airlines.reset_index(drop=True,inplace=True)

In [7]:
airlines.drop(['airline','name','airline_sentiment','tweet_id','airline_sentiment_gold','retweet_count','airline_sentiment_confidence','negativereason',
       'negativereason_confidence','negativereason_gold','user_timezone'],axis=1,inplace=True)
airlines.columns

Index(['text', 'tweet_coord', 'tweet_created', 'tweet_location'], dtype='object')

## Using Twitter API to collect additional Tweets

In [8]:
# Enter your keys/secrets as strings in the following fields
#credentials = {}  
#credentials['CONSUMER_KEY'] = "" 
#credentials['CONSUMER_SECRET'] = "" 
#credentials['ACCESS_TOKEN'] = ""  
#credentials['ACCESS_SECRET'] = ""

# Save the credentials object to file
#with open("twitter_credentials.json", "w") as file:  
#    json.dump(credentials, file)

In [9]:
# Load credentials from json file
with open("../capstone_extras/twitter_credentials.json", "r") as file:  
    creds = json.load(file)

# Instantiate an object
python_tweets = Twython(creds['CONSUMER_KEY'], creds['CONSUMER_SECRET'])

# Create query
query = {'q': 'united airlines',  
        'result_type': 'mixed',
        'count': 1000,
        'until': '2019-08-16',
        'lang': 'en',
        }

In [10]:
# Search tweets
dict_ = {'user': [], 'date': [], 'text': [], 'location': [],'coordinates': []}  
for status in python_tweets.search(**query)['statuses']:  
    dict_['user'].append(status['user']['screen_name'])
    dict_['date'].append(status['created_at'])
    dict_['text'].append(status['text'])
    dict_['coordinates'].append(status['coordinates'])
    dict_['location'].append(status['user']['location'])

# Structure data in a pandas DataFrame for easier manipulation
df = pd.DataFrame(dict_)  
df.to_csv("./data/15aug.csv")

In [11]:
jun17 = pd.read_csv("./data/17jun.csv")
jun18 = pd.read_csv("./data/18jun.csv")
jun19 = pd.read_csv("./data/19jun.csv")
jun20 = pd.read_csv("./data/20jun.csv")
jun21 = pd.read_csv("./data/21jun.csv")
jun22 = pd.read_csv("./data/22jun.csv")
jun23 = pd.read_csv("./data/23jun.csv")
jun24 = pd.read_csv("./data/24jun.csv")
jun25 = pd.read_csv("./data/25jun.csv")
jun26 = pd.read_csv("./data/26jun.csv")
jun27 = pd.read_csv("./data/27jun.csv")
jun28 = pd.read_csv("./data/28jun.csv")
jun29 = pd.read_csv("./data/29jun.csv")
jun30 = pd.read_csv("./data/30jun.csv")
jul01 = pd.read_csv("./data/01jul.csv")
jul02 = pd.read_csv("./data/02jul.csv")
jul03 = pd.read_csv("./data/03jul.csv")
jul04 = pd.read_csv("./data/04jul.csv")
jul05 = pd.read_csv("./data/05jul.csv")
jul06 = pd.read_csv("./data/06jul.csv")
jul07 = pd.read_csv("./data/07jul.csv")
jul08 = pd.read_csv("./data/08jul.csv")
jul09 = pd.read_csv("./data/09jul.csv")
jul10 = pd.read_csv("./data/10jul.csv")
jul11 = pd.read_csv("./data/11jul.csv")
jul12 = pd.read_csv("./data/12jul.csv")
jul13 = pd.read_csv("./data/13jul.csv")
jul14 = pd.read_csv("./data/14jul.csv")
jul15 = pd.read_csv("./data/15jul.csv")
jul16 = pd.read_csv("./data/16jul.csv")
jul17 = pd.read_csv("./data/17jul.csv")
jul18 = pd.read_csv("./data/18jul.csv")
jul19 = pd.read_csv("./data/19jul.csv")
jul20 = pd.read_csv("./data/20jul.csv")
jul21 = pd.read_csv("./data/21jul.csv")
jul22 = pd.read_csv("./data/22jul.csv")
jul23 = pd.read_csv("./data/23jul.csv")
jul24 = pd.read_csv("./data/24jul.csv")
jul25 = pd.read_csv("./data/25jul.csv")
jul26 = pd.read_csv("./data/26jul.csv")
jul27 = pd.read_csv("./data/27jul.csv")
jul28 = pd.read_csv("./data/28jul.csv")
jul29 = pd.read_csv("./data/29jul.csv")
jul30 = pd.read_csv("./data/30jul.csv")
jul31 = pd.read_csv("./data/31jul.csv")
aug08 = pd.read_csv("./data/08aug.csv")
aug09 = pd.read_csv("./data/09aug.csv")
aug10 = pd.read_csv("./data/10aug.csv")
aug11 = pd.read_csv("./data/11aug.csv")
aug12 = pd.read_csv("./data/12aug.csv")
aug13 = pd.read_csv("./data/13aug.csv")
aug14 = pd.read_csv("./data/14aug.csv")
aug15 = pd.read_csv("./data/15aug.csv")


scraped_twitter = pd.concat([jun17,jun18,jun19,jun20,jun21,jun22,jun23,jun24,
                             jun25,jun26,jun27,jun28,jun29,jun30,jul01,jul02,
                             jul03,jul04,jul05,jul06,jul07,jul08,jul09,jul10,
                             jul11,jul12,jul13,jul14,jul15,jul16,jul17,jul18,
                             jul19,jul20,jul21,jul22,jul23,jul24,jul25,jul26,
                             jul27,jul28,jul29,jul30,jul31,aug08,aug09,aug10,
                             aug11,aug12,aug13,aug14,aug15])

scraped_twitter.drop_duplicates(keep='first', inplace=True)

scraped_twitter.to_csv("./data/scraped_twitter.csv")

## Cleaning Scrapped Tweets

In [12]:
scraped_twitter = pd.read_csv("./data/scraped_twitter.csv")

In [13]:
#remove advertisements and news agencies
scraped_twitter = scraped_twitter[~scraped_twitter['user'].isin(['robinsnewswire','FRANCIS39781980','Frommers','CBCAlerts','USATODAY',
                                               'chicagotribune','ChiBizJournal','RunRocknRoll','TJN_Jobs','JacksonAirports',
                                               'DailyBugleJJJ','DealDuchess','OverseasFID','GetGlobalTravel','SebasSpotter']
                                             )].sort_values(by=['text'])

In [14]:
scraped_twitter.drop('Unnamed: 0.1', axis=1,inplace=True)
scraped_twitter.drop('Unnamed: 0', axis=1,inplace=True)

In [15]:
scraped_twitter.columns = ['user','tweet_created','text','tweet_location','tweet_coord']
scraped_twitter.drop('user',axis=1,inplace=True)

#isolate coordinates
scraped_twitter['tweet_coord'].replace(to_replace = "{'type': 'Point', 'coordinates':", value = "", inplace = True, regex = True)

In [16]:
airlines = pd.concat([airlines,scraped_twitter],sort=False)
airlines.reset_index(drop=True,inplace=True)

In [17]:
#remove line splitters
airlines['text'].replace(to_replace='\n', value= ' ', inplace = True, regex = True)

#remove @tags
airlines['text'].replace(to_replace=r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", value = '', inplace = True, regex = True)

#remove 'RT'
airlines['text'].replace(to_replace='RT', value= '', inplace = True, regex = True)

# remove urls
airlines['text'].replace(to_replace=r"http*.*",value='',regex=True, inplace=True)

# remove duplicates
airlines.drop_duplicates(subset ="text", keep = 'first', inplace = True)

In [18]:
airlines.to_csv('./data/collected_data.csv')

In [19]:
airlines.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6610 entries, 0 to 8320
Data columns (total 4 columns):
text              6610 non-null object
tweet_coord       340 non-null object
tweet_created     6610 non-null object
tweet_location    4623 non-null object
dtypes: object(4)
memory usage: 258.2+ KB